.hero__container {
  width: 100%;
}

.hero__description {
  font-size: 16px;
  font-weight: 300;
}

.hero .btn {
  font-size: 16px;
  width: 100%;
  max-width: max-content;
  margin-inline: auto;
  padding: 22px 43px;
  font-weight: 400;
  transition: background-color 0.3s ease;

  &:hover {
    background: #fff;
    color: #000;
  }

}

 @media (max-width: 768px) {
    .hero {
      padding-block: 40px;
    }

    .her__description {
      font-size: 12px;
    }

    .btn {
      font-size: 12px;
      padding: 12px 20px;
    }
  }

.custom_hero {
  width: 100%;
  max-width: 880px;
  margin-inline: auto;
}

.custom_hero_link {
  max-width: max-content;

  &:has(".arrow") {
    display: flex;
    align-items: center;
  }
}